   {% load static  %}
   
   <!--Navbar-->
    <nav class= "navbar navbar-expand-lg" style = "background: #DFFF00; border:double " >
        <div class="container"> 
            <img src="{% static 'img/bjklogo.jpg' %}" alt="" width="50" height="60">
            <a href="" class="navbar-brand">Course App</a> 
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/kurslar" class="nav-link">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">İletişim</a>
                </li>
            </ul>   
        </div>
       </nav>