{% extends "layout.html" %}

{% block  page_title %}Kurslar Anasayfa{% endblock %}

{% block content %}
        <div class="container mt-3">
                <div class="row">
                            <!--Menu-->
                    <div class="col-3" style="border:solid; background-color:purple">

                    {% include 'courses/partials/_categories.html' %}
                       </div>
        
                <div class="col-9 bg-secondary" style="border:dashed">
                <!--Content-->
                <h2>Bütün aktif kurslarımıza gözatın. </h2>

                        {% for course  in courses %} 
                                         {% include 'courses/partials/_course.html' %}
 


                        {% endfor %}


                                        </div>
                </div>
        </div>
{% endblock  %}  






