{% extends "layout.html" %}

{% block css_files %}    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />  
{% endblock %}
{% block  page_title %}Hakkımızda{% endblock %}


{% block  content %}
<div class="container mt-3" >
    <div class="row">
            <!--Menu-->
        <div class="col-3" style= "border:solid; background-color: #FF00FF;">
            <div class="list-group">
                <a href="" class=list-group-item list-group-item-action>Programlama</a>
                <a href="" class=list-group-item list-group-item-action>Web Geliştirme</a>
                <a href="" class=list-group-item list-group-item-action>Mobil</a>
            </div>
        </div>



        <div class="col-9 " style= "border:dashed; background-color: #DFFF00;" bgcolor="grey">
          <!--Content-->
          <h1>Hakkımızda kısmı</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block js_files %}   {% endblock %}
